<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<title>Sign here</title>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
body { font-family: Roboto,sans-serif; background-color:rgba(217, 217, 217, 0.18); }
canvas { border: 1px solid black; }
.signatures { display: flex }
textarea { width: 100%; height: 50%; }
input { width: 80%; }
</style>
</head>
<body>
<h1>HTML to PDF test bed</h1>
<div id="app">

<label>Number of signatures required <input style="width: 3em;" min="1" max="10" type=number v-model.number="signaturesNeeded"></label>

<form id="myForm" v-on:submit.prevent="submitForm">
<div class="signatures">
<template v-for="item in signaturesNeeded">
<div class="signature">
<signature-pad @update="(val) => updateSignature(item-1, val)" :item="item"></signature-pad>
<input autocomplete="off" required type=text placeholder="Name" :name="'Signatures.' + (item - 1) + '.Name'">
</div>
</template>
</div>
{{ .csrfField }}
<button type="submit">Endorse</button>
</form>

<hr>

<form id="jsonPayload" v-on:submit.prevent="submitJson">
<input v-model="jsonurl">
<textarea v-model="json"></textarea>
{{ .csrfField }}
<button type="submit">Submit JSON</button>
</form>

<ol>
<li v-if="html"><a target="_blank" :href=html>HTML</a></li>
<li v-if="pdf"><a target="_blank" :href=pdf>pdf.cool</a></li>
<li v-if="ppdf"><a target="_blank" :href=ppdf>docraptor.com</a></li>
</ol>
</div>

<script type='text/x-template' id="signaturepad">
<div class="signature-pad">
<div class="signature-pad--body">
<canvas ref="canv"></canvas>
<input required type=hidden v-model=dataUrl :name="'Signatures.' + (item - 1) + '.dataURI'">
</div>
<div class="signature-pad--footer">
<div class="description">Sign above</div>
</div>
</div>
</script>

<script src="/templates/main.js"></script>

<ul>
<li><a href="https://github.com/unee-t/frontend/issues/427">Implementing inspection report template</a></li>
<li><a href="/templates/signoff.html">Template source</a></li>
<li><a href="https://github.com/unee-t/wetsignaturetopdfprototype">Source code</a></li>
</ul>

</body>
</html>
