<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<title>Sign here</title>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
body { font-family: "Segoe UI", "Seravek", sans-serif; background-color: lightblue; }
canvas {
  border: 1px solid black;
}
</style>
</head>
<body>
<div id="app">

<label>Number of signatures required <input type=number v-model.number="signaturesNeeded"></label>

<form id="myForm" v-on:submit.prevent="submitForm">
<template v-for="item in signaturesNeeded">
<signature-pad @update="(val) => updateSignature(item-1, val)" :item="item"></signature-pad>
<input required type=text placeholder="Name" :name="'name.' + item">
</template>
{{ .csrfField }}
<button type="submit">Sign</button>
</form>
</div>

<script type='text/x-template' id="signaturepad">
<div class="signature-pad">
<div class="signature-pad--body">
<canvas ref="canv"></canvas>
<input required type=hidden v-model=dataUrl :name="'signature.' + item">
</div>
<div class="signature-pad--footer">
<div class="description">Sign above</div>
</div>
</div>
</script>

<script src="/templates/main.js"></script>

</body>
</html>
